dir_to_exclude/images/planets
dir_to_exclude/images/moons
dir_to_exclude/images/star_systems
dir_to_exclude/images/media
dir_to_exclude/images/creatures
dir_to_exclude/images/flora
dir_to_exclude/images/ships